<!-- <?php 
$actual_link = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
require_once ('secure.php');
require_once ('config.php');
require_once ('function.php');
?> -->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Yourcustomer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="2085050161775081"
  logged_in_greeting="嗨～我是Annswer的小編：小安，關於機器學習或AI的相關大小事都可以問我喔！"
  logged_out_greeting="嗨～我是Annswer的小編：小安，關於機器學習或AI的相關大小事都可以問我喔！" 
  greeting_dialog_display = hide>
</div>
<div class="br-logo"><a href="//annswer.org"><img src="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/images/annswer_logo_w_c_text.svg" height="46px"></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}" class="br-menu-link{% if '/' == g.parseResult.path.lower() %} active {% endif %}">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Home</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        {% if g.userdata is defined %}
        <a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/profile" class="br-menu-link {% if '/profile' in g.parseResult.path.lower() or '/profile' in g.parseResult.path.lower() %} active {% endif %}">
        {% else %}
        <a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/signin" class="br-menu-link {% if '/signin' in g.parseResult.path.lower() or '/signup' in g.parseResult.path.lower() %} active {% endif %}">
        {% endif %}
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-person-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">
            {% if g.userdata is defined %}會員服務/登出{% else %}登入/註冊會員{% endif %}
            </span>
          </div><!-- menu-item -->
        </a>

        {% if '/machinelearning_21578465789464' in g.parseResult.path.lower() %}
        <a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/machinelearning_21578465789464" 
        class="br-menu-link{% if '/machinelearning_21578465789464' in g.parseResult.path.lower() %} active show-sub {% endif %}">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-keypad-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">Maching Learning</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div>
        </a>
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/machinelearning_21578465789464" class="nav-link 
            {% if '/machinelearning_21578465789464' in g.parseResult.path.lower() %} active{% endif %}">Machine Learning</a></li>
          <li style="display:none;" class="nav-item"><a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/machinelearning_21578465789464/project" 
            class="nav-link {% if '/machinelearning_21578465789464/project' in g.parseResult.path.lower() %} active{% endif %}">Project</a></li>
          <li class="nav-item"><a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/machinelearning_21578465789464/datasource" 
            class="nav-link {% if '/machinelearning_21578465789464/datasource' in g.parseResult.path.lower() %} active{% endif %}">Data Source</a></li>
          <li class="nav-item"><a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/machinelearning_21578465789464/workspace" 
            class="nav-link {% if '/machinelearning_21578465789464/workspace' in g.parseResult.path.lower() %} active{% endif %}">Work Space</a></li>
        </ul>
        {% endif %}

        <!--
        <a href="mailbox.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
            <span class="menu-item-label">Mailbox</span>
          </div>
        </a>-->
        <a href="//the.annswer.org/" class="br-menu-link {% if 'the.annswer.org' in g.parseResult.netloc %}  'active' {% endif %}">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-chatboxes-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">論壇·討論區</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <!-- <a href="//news.annswer.org/" class="br-menu-link <?php if (is_numeric(strpos(strtolower($_SERVER['REQUEST_URI']), '/forum'))) {echo('active');}?>">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-paper-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">新聞</span>
          </div>
        </a> -->
        <!-- <a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/community/" class="br-menu-link <?php if (is_numeric(strpos(strtolower($_SERVER['REQUEST_URI']), '/community'))) {echo('active');}?>">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-people-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">社群</span>
          </div>
        </a> -->
        <!-- <a href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/solutions/" class="br-menu-link <?php if (is_numeric(strpos(strtolower($_SERVER['REQUEST_URI']), '/solutions'))) {echo('active');}?>">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-book-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">解決方案</span>
          </div>
        </a> -->
        <a href="/about" class="br-menu-link{% if '/about' in g.parseResult.path %} active {% endif %}">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-cog-outline tx-24"></i>
            <span class="menu-item-label" style="font-family: Microsoft JhengHei;">關於我們</span>
          </div>
        </a>
      </div>
      <br>
      <label class="sidebar-label pd-x-15 mg-t-25 mg-b-20 tx-info op-9" style="display:none;">System Information</label>
      <div class="info-list" style="display:none;">
        <div class="d-flex align-items-center justify-content-between pd-x-15">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Memory Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0 mg-t-0">32.3%</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#336490"], "height": 35, "width": 60 }'>8,6,5,9,8,4,9,3,5,9</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">CPU Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0 mg-t-0">140.05</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#1C7973"], "height": 35, "width": 60 }'>4,3,5,7,12,10,4,5,11,7</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Disk Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0 mg-t-0">82.02%</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#8E4246"], "height": 35, "width": 60 }'>1,2,1,3,2,10,4,12,7</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Daily Traffic</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0 mg-t-0">62,201</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#9C7846"], "height": 35, "width": 60 }'>3,12,7,9,2,3,4,5,2</span>
        </div><!-- d-flex -->
      </div><!-- info-lst -->
      <br>
    </div><!-- br-sideleft -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116869169-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116869169-1');
</script>
