<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Twitter -->
  <meta name="twitter:site" content="@themepixels">
  <meta name="twitter:creator" content="@themepixels">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Annswer">
  <meta name="twitter:description" content="Annswer Platform">
  <meta name="twitter:image" content="//127.0.0.1:5001/img/social.png">
  <!-- Facebook -->
  <meta property="og:url" content="//127.0.0.1:5001">
  <meta property="og:title" content="Annswer">
  <meta property="og:description" content="Annswer Platform">
  <meta property="og:image" content="//127.0.0.1:5001/img/social.png">
  <meta property="og:image:secure_url" content="//127.0.0.1:5001/img/social.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="600">
  <!-- Meta -->
  <meta name="description" content="Annswer Platform">
  <meta name="author" content="Annswer Group">

  <title>Annswer - 技術專欄</title>

  <!-- vendor css -->
  <link href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/font-awesome/css/font-awesome.css"
    rel="stylesheet">
  <link href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/Ionicons/css/ionicons.css"
    rel="stylesheet">
  <link
    href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/perfect-scrollbar/css/perfect-scrollbar.css"
    rel="stylesheet">
  <link
    href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/jquery-switchbutton/jquery.switchButton.css"
    rel="stylesheet">
  <link href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/rickshaw/rickshaw.min.css"
    rel="stylesheet">
  <link href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/chartist/chartist.css" rel="stylesheet">

  <!-- Bracket CSS -->
  <link rel="stylesheet" href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/css/annswer.css">
</head>

<style>
  #spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #17a2b8;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
</style>

<body class="collapsed-menu email" topmargin="0" leftmargin="0" link="#004080" vlink="#004080" alink="#004080"
  bgcolor="#FFFFFF">
  <div hidden id="spinner"></div>
  <!-- ########## START: LEFT PANEL ########## -->
  {% include 'left_panel.html' %}

  <!-- ########## END: LEFT PANEL ########## -->

  <!-- ########## START: HEAD PANEL ########## -->
  <div class="br-header">
    <div class="br-header-left">
      <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
      </div>
      <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i
            class="icon ion-navicon-round"></i></a></div>
      {% include 'header-middle.html' %}
      <div class="input-group hidden-xs-down wd-170 transition" style="visibility: hidden;">
        <input id="searchbox" type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- input-group -->
    </div><!-- br-header-left -->
    <div class="br-header-right">
      <nav class="nav" style="visibility: hidden;">
        <div class="dropdown">
          <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
            <i class="icon ion-ios-email-outline tx-24"></i>
            <!-- start: if statement -->
            <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
            <!-- end: if statement -->
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
            <div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
              <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Messages</label>
              <a href="" class="tx-11">+ Add New Message</a>
            </div><!-- d-flex -->

            <div class="media-list">
              <!-- loop starts here -->
              <a href="" class="media-list-link">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Donna Seay</p>
                      <span class="tx-11 tx-gray-500">2 minutes ago</span>
                    </div><!-- d-flex -->
                    <p class="tx-12 mg-b-0">A wonderful serenity has taken possession of my entire soul, like these
                      sweet mornings of spring.</p>
                  </div>
                </div><!-- media -->
              </a>
              <!-- loop ends here -->
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Samantha Francis</p>
                      <span class="tx-11 tx-gray-500">3 hours ago</span>
                    </div><!-- d-flex -->
                    <p class="tx-12 mg-b-0">My entire soul, like these sweet mornings of spring.</p>
                  </div>
                </div><!-- media -->
              </a>
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Robert Walker</p>
                      <span class="tx-11 tx-gray-500">5 hours ago</span>
                    </div><!-- d-flex -->
                    <p class="tx-12 mg-b-0">I should be incapable of drawing a single stroke at the present moment...
                    </p>
                  </div>
                </div><!-- media -->
              </a>
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Larry Smith</p>
                      <span class="tx-11 tx-gray-500">Yesterday</span>
                    </div><!-- d-flex -->
                    <p class="tx-12 mg-b-0">When, while the lovely valley teems with vapour around me, and the meridian
                      sun strikes...</p>
                  </div>
                </div><!-- media -->
              </a>
              <div class="pd-y-10 tx-center bd-t">
                <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Messages</a>
              </div>
            </div><!-- media-list -->
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <div class="dropdown">
          <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
            <i class="icon ion-ios-bell-outline tx-24"></i>
            <!-- start: if statement -->
            <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
            <!-- end: if statement -->
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
            <div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
              <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Notifications</label>
              <a href="" class="tx-11">Mark All as Read</a>
            </div><!-- d-flex -->

            <div class="media-list">
              <!-- loop starts here -->
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <p class="tx-13 mg-b-0 tx-gray-700"><strong class="tx-medium tx-gray-800">Suzzeth Bungaos</strong>
                      tagged you and 18 others in a post.</p>
                    <span class="tx-12">October 03, 2017 8:45am</span>
                  </div>
                </div><!-- media -->
              </a>
              <!-- loop ends here -->
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <p class="tx-13 mg-b-0 tx-gray-700"><strong class="tx-medium tx-gray-800">Mellisa Brown</strong>
                      appreciated your work <strong class="tx-medium tx-gray-800">The Social Network</strong></p>
                    <span class="tx-12">October 02, 2017 12:44am</span>
                  </div>
                </div><!-- media -->
              </a>
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <p class="tx-13 mg-b-0 tx-gray-700">20+ new items added are for sale in your <strong
                        class="tx-medium tx-gray-800">Sale Group</strong></p>
                    <span class="tx-12">October 01, 2017 10:20pm</span>
                  </div>
                </div><!-- media -->
              </a>
              <a href="" class="media-list-link read">
                <div class="media pd-x-20 pd-y-15">
                  <img src="//via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                  <div class="media-body">
                    <p class="tx-13 mg-b-0 tx-gray-700"><strong class="tx-medium tx-gray-800">Julius Erving</strong>
                      wants to connect with you on your conversation with <strong class="tx-medium tx-gray-800">Ronnie
                        Mara</strong></p>
                    <span class="tx-12">October 01, 2017 6:08pm</span>
                  </div>
                </div><!-- media -->
              </a>
              <div class="pd-y-10 tx-center bd-t">
                <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Notifications</a>
              </div>
            </div><!-- media-list -->
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down">Katherine</span>
            <img src="//via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
              <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
              <li><a href=""><i class="icon ion-ios-gear"></i> Settings</a></li>
              <li><a href=""><i class="icon ion-ios-download"></i> Downloads</a></li>
              <li><a href=""><i class="icon ion-ios-star"></i> Favorites</a></li>
              <li><a href=""><i class="icon ion-ios-folder"></i> Collections</a></li>
              <li><a href=""><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
      </nav>
      <div class="navicon-right">
        <a id="btnRightMenu" href="" class="pos-relative">
          <i class="icon ion-ios-chatboxes-outline"></i>
          <!-- start: if statement -->
          <span class="square-8 bg-danger pos-absolute t-10 r--5 rounded-circle" style="visibility: hidden;"></span>
          <!-- end: if statement -->
        </a>
      </div><!-- navicon-right -->
    </div><!-- br-header-right -->
  </div><!-- br-header -->
  <!-- ########## END: HEAD PANEL ########## -->

  <!-- ########## START: RIGHT PANEL ########## -->
  {% include 'right_panel.html' %}
  <!-- ########## END: RIGHT PANEL ########## --->

  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel">
    <div class="br-subleft" style="padding: 0px;">
      <nav class="nav br-nav-mailbox flex-column">
        <div class="nav-link" onclick="getArticlesList(54,0, this);" style="cursor: pointer;" id="nav-54"><i
            class="icon ion-ios-checkmark-outline"></i> 資料科學</div>
        <div class="nav-link" onclick="getArticlesList(55,0, this);" style="cursor: pointer;" id="nav-55"><i
            class="icon ion-ios-checkmark-outline"></i> 程式語言</div>
        <div class="nav-link" onclick="getArticlesList(56,0, this);" style="cursor: pointer;" id="nav-56"><i
            class="icon ion-ios-checkmark-outline"></i> 機器學習</div>
        <div class="nav-link" onclick="getArticlesList(57,0, this);" style="cursor: pointer;" id="nav-57"><i
            class="icon ion-ios-checkmark-outline"></i> 電腦視覺</div>
        <div class="nav-link" onclick="getArticlesList(58,0, this);" style="cursor: pointer;" id="nav-58"><i
            class="icon ion-ios-checkmark-outline"></i> 自然語言</div>
        <div class="nav-link" onclick="getArticlesList(59,0, this);" style="cursor: pointer;" id="nav-59"><i
            class="icon ion-ios-checkmark-outline"></i> 邊緣運算</div>
        <div class="nav-link" onclick="getArticlesList(60,0, this);" style="cursor: pointer;" id="nav-60"><i
            class="icon ion-ios-checkmark-outline"></i> 神經網路</div>
        <div class="nav-link" onclick="getArticlesList(61,0, this);" style="cursor: pointer;" id="nav-61"><i
            class="icon ion-ios-checkmark-outline"></i> AI職涯</div>
        <div class="nav-link" onclick="getArticlesList(62,0, this);" style="cursor: pointer;" id="nav-62"><i
            class="icon ion-ios-checkmark-outline"></i> 智慧控制</div>
        <div class="nav-link" onclick="getArticlesList(63,0, this);" style="cursor: pointer;" id="nav-63"><i
            class="icon ion-ios-checkmark-outline"></i> 資料集與競賽</div>
        <div class="nav-link" onclick="getArticlesList(64,0, this);" style="cursor: pointer;" id="nav-64"><i
            class="icon ion-ios-checkmark-outline"></i> 其他</div>
      </nav>
    </div><!-- br-subleft -->
    <div class="br-mailbox-list">
      <div class="br-mailbox-list-header">
        <a href="" id="showMailBoxLeft" class="show-mailbox-left hidden-sm-up">
          <i class="fa fa-arrow-right"></i>
        </a>
        <h6 class="tx-inverse mg-b-0 tx-13 tx-uppercase">AI學習資源 <span class="tx-roboto"></span></h6>
      </div><!-- br-mailbox-list-header -->
      <div id="br-mailbox-list-body">
        <div style="font-size: 1.5em;
  color: #696969;
  margin: 20px 20px;">
          <p>點選左側學習資源分類</p>
          <p><img src="/static/images/2021/0524/20210524_1512.png" alt="" srcset="" class="br-mailbox-list-img"></p>
        </div>
      </div>
    </div><!-- br-mailbox-list -->

    <div class="br-mailbox-body">
      <div class="br-msg-header d-flex justify-content-between" id="br-msg-header">
        <div class="media align-items-center">
          <div class="media-body mg-l-10" id="br-msg-header-content">
            <p class="tx-inverse tx-medium mg-b-0" style="font-size: 1.5em; font-weight: 600; color: #c72837;">
              AI學習資源
            </p>
          </div><!-- media-body -->
        </div><!-- media -->
      </div><!-- br-msg-header -->
      <div class="br-msg-body" id="br-msg-body">
        <p>人類跟其他生物的一個最大不同點在於，人類運透過語言、文字，將知識一代一代傳承下去。 生命有終點，但知識可以延續。Annswer很樂意成為知識交流的媒介，提供知識交流的平台，
          讓更多知識火花在Annswer誕生、保存、交流。</p>
        <p>Annswer是一個機器學習平台，透過這個平台， 各個行業將可利用機器學習，得到最佳的製程參數、預測 電子商務的假期流量，或預測農作物的收成，以在市場上 獲得競爭力。</p>
        <p>我們希望知識與AI工具的普及，能不受限於種族、地域、貧富。只要是人類，理應都能 享受知識、科技所帶來的便利與美好生活。同樣地，Annswer機器學習平台 希望能打破知識的疆界!!!
          讓不懂程式語言的人，透過Annswer，就能 輕鬆操作機器學習工具，並用於學術、工業、生產、社會福利...等領域上。</p>
        <p>歡迎您使用Annswer的討論區，與其他使用者互動，針對科學、資訊科技、AI演算法等議題 進行知識分享交流。相信透過知識分享激盪火花，可以讓世界變得更好。</p>
      </div><!-- br-msg-body -->
    </div><!-- br-mailbox-body -->


    <!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript"
      src="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/jquery/jquery.js"></script>
    <!-- LOADING FONTS AND ICONS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"
      property="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css"
      href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css"
      href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/revolution/fonts/font-awesome/css/font-awesome.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css"
      href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <!-- <link rel="stylesheet" type="text/css" href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/revolution/css/layers.css"> -->

    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css"
      href="{{g.parseResult.scheme}}://{{g.parseResult.netloc}}/static/lib/revolution/css/navigation.css">



    <main id="labview360_intro_bg" class="masthead" role="main" style="
      background-image:''; 
      background-color: #000000;
      position: relative;
      padding: 80px 15px;
      color: #FFF;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover; display: none;">

      <!-- Parallax Footer Starts -->
      <main class="footercta" role="main">
        <div class="container">

          <!-- Hero Title -->
          <h1 style="font-family: Microsoft YaHei; line-height: 88px;">導入AI人工智慧數位轉型<br>最佳實踐平台</h1>
          <!-- Mailchimp Subscribe form -->
          <div class="row">
            <div class="col-md-12 breath text-center" style="font-family: Microsoft YaHei;">
              <a href="./machinelearning/" class="btn btn-success btn-lg gototop">前往使用</a>
            </div>
          </div>
        </div>
      </main>
      <!-- // Parallax Footer Ends -->
      <!-- ================= -->
      <div class="br-pagebody mg-t-5 pd-x-30">
      </div><!-- br-pagebody -->
      {% include 'footer.html' %}
  </div>
  <!-- ########## END: MAIN PANEL ########## -->
  <script>
    $(document).ready(function () {
      {%if cid is defined and tid is defined %}
      // getArticlesList({{cid}}, {{tid}}, this);
      $('#nav-{{cid}}').addClass('active');
      getArticlesList({{ cid }}, {{ tid }});
    {% endif %}
    });
  </script>
  <script>
    $('.br-mainpanel').removeClass('br-mainpanel');
    $('.br-pagebody').removeClass('br-pagebody');
    $('.br-section-wrapper').removeClass('br-section-wrapper');
    $('.pd-l-10').removeClass('pd-l-10');
    $('.pd-r-10').removeClass('pd-r-10');
    $('.pd-t-10').removeClass('pd-t-10');
    $('.pd-l-20').removeClass('pd-l-20');
    $('.pd-r-20').removeClass('pd-r-20');
    $('.pd-t-20').removeClass('pd-t-20');
    var intGetArticlesList_Count = 0
    {%if cid is defined %} var intCid = {{ cid }}; {%else%} var intCid = 0; {% endif %}
    {%if tid is defined %} var intTid = {{ tid }}; {%else%} var intTid = 0; {% endif %}
    function getArticlesList(cid, tid, item) {
      if (tid.length > 0 && tid != 0) {
        var page = '/resource/' + cid + '/' + tid;
      } else {
        var page = '/resource/' + cid;
      }
      if (item !== undefined) {
        $('.nav-link').removeClass('active');
        $(item).addClass('active');
      }
      intCid = cid
      history.pushState('', '', '//127.0.0.1:5001/resource/' + intCid);
      $.ajax({
        url: "//127.0.0.1:5001/resource/articles_list/" + intCid,
        type: "GET",
        // data: "cid=" + cid,
        timeout: 3000,
        error: function () {
          console.log('error');
          return false;
        },
        success: function (result) {
          var objJSON = JSON.parse(result);
          var strCotant = '';
          var strClassActive = ''
          var loop_count = 0;
          var firstArticalID = 0
          objJSON.forEach(function (element) {
            if (typeof (tid) !== 'undefined' && tid != 0 && loop_count == 0) {
              getArticle(tid,);
            } else {
              if (loop_count == 0) {
                getArticle(element['id'],);
                strClassActive = ' active'
              } else {
                strClassActive = ''
              }
            }

            if (typeof (tid) !== 'undefined') {
              if (intGetArticlesList_Count == 0 && element['id'] == tid) {
                strClassActive = ' active'
              };
            };
            strCotant += `<div class="br-mailbox-list-item unread${strClassActive}" onclick="getArticle(${element['id']},this)" id="item-${element['id']}"><h6 class="tx-14 mg-b-10 tx-gray-800">${element['title']}</h6><div class="d-flex justify-content-between mg-b-5"><span class="tx-12">${element['created_at']}</span></div></div>`
            loop_count += 1;
          });
          var strCotantHead = `<div class="br-mailbox-list-header"><a href="" id="showMailBoxLeft" class="show-mailbox-left hidden-sm-up"><i class="fa fa-arrow-right"></i></a><h6 class="tx-inverse mg-b-0 tx-13 tx-uppercase">AI學習資源 <span class="tx-roboto">(${objJSON.length})</span></h6></div>`;
          // strCotant = strCotantHead + strCotant
          $('#br-mailbox-list-body').html(strCotant);
        }
      }).done(function () {
        intGetArticlesList_Count += 1
      });
      ga('send', 'pageview', page);
    };

    function getArticle(tid, item) {
      spinner.removeAttribute('hidden');
      $('.br-mailbox-body').css('display','none');
      var page = '/resource/' + intCid + '/' + tid;
      $('.br-mailbox-list-item').removeClass('active');
      $(item).addClass('active');
      history.pushState('', '', '//127.0.0.1:5001/resource/' + intCid + '/' + tid);
      $.ajax({
        url: "//127.0.0.1:5001/resource/article/" + tid,
        type: "GET",
        // data: "tid=" + tid,
        timeout: 3000,
        error: function () {
          console.log('error');
          return false;
        },
        success: function (result) {
          var objJSON = JSON.parse(result);
          var strCotant = '';
          $('#br-msg-body').html(objJSON['post_stream']['posts'][0]['cooked']);

          var br_msg_header_content = '';
          br_msg_header_content += '<p class="tx-inverse tx-medium mg-b-0" style="font-size: 1.5em; font-weight: 600; color: #c72837;">';
          br_msg_header_content += objJSON['title'];
          br_msg_header_content += '</p><p class="tx-12 mg-b-0"><span>';
          br_msg_header_content += objJSON['created_at'];
          br_msg_header_content += '</span></p>';
          $('#br-msg-header-content').html(br_msg_header_content);
          spinner.setAttribute('hidden', '');
          $('.br-mailbox-body').css('display','block');
        }
      }).done(function () {
      });
      ga('send', 'pageview', page);
    };
  </script>
  {% include 'footer_script.html' %}
</body>

</html>